  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html{
  font-size: 65.5%;  /*1 rem = 10px; 10px/16px= 62.5%*/

/*
  @include respond(tab-land){//width < 1200?
    font-size: 56.25%;  // 1 rem = 9px, 9 / 16= 56.25%

  @include respond(tab-port){//width <900?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%


  @include respond(big-desktop){
    font-size: 75%; //1 rem= 12, 12/16
  }

  */


}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;*/
   
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 0 0 8px #77bb3f, 0 0 2px #77bb3f, 0 0 10px #77bb3f, 0 0 6px #77bb3f, 0 0 20px #77bb3f, 0 0 20px #77bb3f, 0 0 1px #77bb3f, 0 0 12px #77bb3f;
   text-align: center;
   margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}